{% extends 'base.html' %}

{% block title %}

{{ post_detail.title }}

{% endblock %}

{% block content %}


  <div class="row center">
    <div class="col s12 m6 l6">
    
    <h1>{{ post_detail.title }}</h1>

      <div class="card blue darken-4">
        <div class="card-content white-text">
          <span class="card-title"{{ post_detail.title }}></span>
          <p>{{ post_detail.content }}</p>
        </div>
        <div class="card-action">
          <a href="#">{{ post_detail.created_at }}</a>
          <a href="#">{{ post_detail.updated_at }}</a>
        </div>
      </div>
    </div>
  </div>
            

{% endblock %}